In [7]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

### Read File

In [2]:
edges = []

with open('CitationPH/cit-HepPh.txt', 'r') as outf:
    edges = outf.readlines()

edges = edges[4:]
print(len(edges))

421578

### Create Graph

In [3]:
graph =  nx.DiGraph()

for edge in edges:
    edge = edge.replace("\n", "")
    graph.add_edge(edge.split()[0], edge.split()[1])

In [4]:
print(len(graph.nodes))
print(len(graph.edges))

34546
421578

In [27]:
nodes = list(graph.nodes)
data = {}

for node in nodes[:100]:
    in_degree = graph.in_degree(node)
    out_degree = graph.out_degree(node)
    data[node] = [in_degree, out_degree]

pd_data = pd.DataFrame.from_dict(data, orient='index', columns=['in_degree', 'out_degree'])
display(pd_data)

         in_degree  out_degree
9907233          3          11
9301253         59           0
9504304         33           0
9505235         23           0
9506257         10           1
9606402         21           5
9607354         20           3
9611297         22          12
9702314         69           7
9704296          8           7
9803214         19           3
9903217         31           9
9311274        100           0
9502335        106          15
9611296          6           3
9612258          1           4
9301203          8           0
9301206          3           0
9502274          4           0
9503474         21           2
9302247         97           8
9501357        118          47
9501384        179          22
9502366        119          34
9504372        130           3
9511210        161           1
9610453          1           1
9706487         17           8
9211239         46           0
9302217         62           0
...            ...         ...
3323            31          36
4004           133           8
4173           158          55
4213            70          26
5006            40          17
6001            67          23
6022            46          22
6124           216          71
6225            13          24
6351            32          37
6357             1          15
7038            27           9
7136             6          15
7256            37          10
7360            26          21
8004            30          19
8009            34          22
8018            28          14
8159            23          28
8216             7           6
8255            85          17
8273            44          24
9042             6          20
9054             4          12
9210             2          12
11238           21          19
11358            4          10
12152           28          16
12208           15          29
12271           29          23

[100 rows x 2 columns]

### Draw Graph

In [ ]:
# import pygraphviz as pgv

# pg_graph = pgv.AGraph()

# for edge in edges[:100]:
#     edge = edge.replace("\n", "")
#     pg_graph.add_edge(edge.split()[0], edge.split()[1])

# pg_graph.draw('graphcitation.png',prog="circo")